docker-compose
requests<2.7  # from docker-compose (conflict with requests==2.0.0 (from xivo-lib-rest-client))
nose
pyhamcrest
stevedore==0.14.1
git+https://github.com/xivo-pbx/xivo-lib-rest-client.git
